<a href="https://colab.research.google.com/github/Sunnn-y/NaturalLanguageProcessing/blob/main/20231013_%EB%8B%A8%EC%96%B4%EC%9D%98%ED%91%9C%ED%98%84_%EC%8B%A4%EC%8A%B5(BoW%2C_TDM).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# BOW 직접 구현

## 실습

In [3]:
docs = ['오늘 동물원에서 코끼리 원숭이를 보고 코끼리 원숭이에게 먹이를 줬어',
        '오늘 동물원에서 원숭이에게 사과를 줬어']

In [4]:
docs_ls = []

for doc in docs:
  docs_ls.append(doc.split(' '))

docs_ls

[['오늘', '동물원에서', '코끼리', '원숭이를', '보고', '코끼리', '원숭이에게', '먹이를', '줬어'],
 ['오늘', '동물원에서', '원숭이에게', '사과를', '줬어']]

In [5]:
# 고유 토큰 추출 후 인덱스 붙이기
docu = set() # 중복값 제거를 위해 빈 세트 설정
dict1 = {}
for i in range(2):
  for k in range(len(docs_ls[i])):
    docu.add(docs_ls[i][k])
for idx, val in enumerate(docu):
  dict1[idx] = val

dict1

{0: '코끼리',
 1: '원숭이에게',
 2: '동물원에서',
 3: '보고',
 4: '원숭이를',
 5: '오늘',
 6: '사과를',
 7: '줬어',
 8: '먹이를'}

In [6]:
lis = []
for val in dict1.values():
  lis.append(val)
lis

['코끼리', '원숭이에게', '동물원에서', '보고', '원숭이를', '오늘', '사과를', '줬어', '먹이를']

In [7]:
bow1 = {} # 문서 1의 토큰 등장 횟수를 기록할 변수 설정
bow2 = {} # 문서 2의 토큰 등장 횟수를 기록할 변수 설정
docu1 = docs_ls[0] # 문서 1
docu2 = docs_ls[1] # 문서 2
for c in range(len(lis)):
    bow1[lis[c]] = docu1.count(lis[c])
    bow2[lis[c]] = docu2.count(lis[c])

In [11]:
print(bow1, bow2)

{'코끼리': 2, '원숭이에게': 1, '동물원에서': 1, '보고': 1, '원숭이를': 1, '오늘': 1, '사과를': 0, '줬어': 1, '먹이를': 1} {'코끼리': 0, '원숭이에게': 1, '동물원에서': 1, '보고': 0, '원숭이를': 0, '오늘': 1, '사과를': 1, '줬어': 1, '먹이를': 0}

## 다른 방식

In [ ]:
docs = ['오늘 동물원에서 코끼리 원숭이를 보고 코끼리 원숭이에게 먹이를 줬어',
        '오늘 동물원에서 원숭이에게 사과를 줬어']
# '오늘 동물원에서 코끼리 원숭이를 보고 코끼리 원숭이에게 먹이를 줬어 오늘 동물원에서 원숭이에게 사과를 줬어'

In [ ]:
docs_ls = []

for doc in docs:
  docs_ls.append(doc.split(' '))

docs_ls

[['오늘', '동물원에서', '코끼리', '원숭이를', '보고', '코끼리', '원숭이에게', '먹이를', '줬어'],
 ['오늘', '동물원에서', '원숭이에게', '사과를', '줬어']]

1. 유니크한 토큰 사전 구하기

In [ ]:
from collections import defaultdict

word2id = defaultdict(lambda : len(word2id))

for doc in docs_ls:
  for token in doc:
    word2id[token]

word2id

defaultdict(<function __main__.<lambda>()>,
            {'오늘': 0,
             '동물원에서': 1,
             '코끼리': 2,
             '원숭이를': 3,
             '보고': 4,
             '원숭이에게': 5,
             '먹이를': 6,
             '줬어': 7,
             '사과를': 8})

2. BOW 구하기

In [ ]:
import numpy as np
BoW_ls = []
for i, doc in enumerate(docs_ls):
  bow = np.zeros(len(word2id), dtype = int)
  for token in doc:
    bow[word2id[token]] += 1
  BoW_ls.append(bow.tolist())

In [ ]:
BoW_ls

[[1, 1, 2, 1, 1, 1, 1, 1, 0], [1, 1, 0, 0, 0, 1, 0, 1, 1]]

In [ ]:
from IPython.core import display as ICD
import pandas as pd
sorted_vocab = sorted((value, key) for key, value in word2id.items())
print('sorted_vocab', sorted_vocab)

vocab = []
for v in sorted_vocab:
  vocab.append(v[1])
print('vocab', vocab)

for i in range(len(docs)):
  print("문서{} : {}".format(i,docs[i]))
  ICD.display(pd.DataFrame([BoW_ls[i]], columns=vocab))
  print("\n\n")

sorted_vocab [(0, '오늘'), (1, '동물원에서'), (2, '코끼리'), (3, '원숭이를'), (4, '보고'), (5, '원숭이에게'), (6, '먹이를'), (7, '줬어'), (8, '사과를')]
vocab ['오늘', '동물원에서', '코끼리', '원숭이를', '보고', '원숭이에게', '먹이를', '줬어', '사과를']
문서0 : 오늘 동물원에서 코끼리 원숭이를 보고 코끼리 원숭이에게 먹이를 줬어

   오늘  동물원에서  코끼리  원숭이를  보고  원숭이에게  먹이를  줬어  사과를
0   1      1    2     1   1      1    1   1    0

문서1 : 오늘 동물원에서 원숭이에게 사과를 줬어

   오늘  동물원에서  코끼리  원숭이를  보고  원숭이에게  먹이를  줬어  사과를
0   1      1    0     0   0      1    0   1    1

## sklearn 사용

In [1]:
docs = ['오늘 동물원에서 코끼리 원숭이를 보고 코끼리 원숭이에게 먹이를 줬어',
        '오늘 동물원에서 원숭이에게 사과를 줬어']

In [2]:
# 토큰 빈도 계산 : CountVectorizer
from sklearn.feature_extraction.text import CountVectorizer
# 선언
count_vect = CountVectorizer()

BoW = count_vect.fit_transform(docs)
BoW.toarray()

array([[1, 1, 1, 0, 1, 1, 1, 1, 2],
       [1, 0, 0, 1, 1, 0, 1, 1, 0]])

# TDM 직접 구현

## 실습

In [ ]:
docs = ['동물원 코끼리',
        '동물원 원숭이 바나나',
        '엄마 코끼리 아기 코끼리',
        '원숭이 바나나 코끼리 바나나']

docs_ls = []

for doc in docs:
  docs_ls.append(doc.split(' '))

docs_ls

[['동물원', '코끼리'],
 ['동물원', '원숭이', '바나나'],
 ['엄마', '코끼리', '아기', '코끼리'],
 ['원숭이', '바나나', '코끼리', '바나나']]

In [ ]:
# 고유 토큰 추출 후 인덱스 붙이기
docu = set() # 중복값 제거를 위해 빈 세트 설정
dict2 = {}
for i in range(4):
  for k in range(len(docs_ls[i])):
    docu.add(docs_ls[i][k])
for idx, val in enumerate(docu):
  dict2[idx] = val

dict2

{0: '아기', 1: '코끼리', 2: '엄마', 3: '동물원', 4: '바나나', 5: '원숭이'}

In [ ]:
lis = []
for val in dict2.values():
  lis.append(val)
lis

['아기', '코끼리', '엄마', '동물원', '바나나', '원숭이']

In [ ]:
import pandas as pd
import numpy as np

tdm1 = [] # 각각의 row에 들어갈 변수 설정
tdm2 = []
tdm3 = []
tdm4 = []
docu1 = docs_ls[0]
docu2 = docs_ls[1]
docu3 = docs_ls[2]
docu4 = docs_ls[3]
# 문서 별로 각각의 토큰 등장 횟수 세기
for c in range(len(lis)):
  for i in range(4):
    tdm1.append(docu1.count(lis[c]))
    tdm2.append(docu2.count(lis[c]))
    tdm3.append(docu3.count(lis[c]))
    tdm4.append(docu4.count(lis[c]))

[0, 1, 0, 1, 0, 0] [0, 0, 0, 1, 1, 1] [1, 2, 1, 0, 0, 0] [0, 1, 0, 0, 2, 1]

In [ ]:
df = pd.DataFrame({'문서1' : tdm1,
                  '문서2' : tdm2,
                  '문서3' : tdm3,
                  '문서4' : tdm4},
                  index = lis
                 )
df

     문서1  문서2  문서3  문서4
아기     0    0    1    0
코끼리    1    0    2    1
엄마     0    0    1    0
동물원    1    1    0    0
바나나    0    1    0    2
원숭이    0    1    0    1